/* NAV styling - don't touch */

#navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

h1 {
    font-size: 10vw;
    font-weight: 50;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

h2 {
    font-size: 6vw;
    font-weight: 50;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

h3 {
    font-size: 4vw;
    font-weight: 50;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

body {
	font-weight: 300;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	margin: 0px;
}

img {
    display: inline;
    max-width: 100%;
    margin: 0 auto;
    height: 100%
    width: auto;
    /*object-fit: cover;*/
}

/* CLASS styling */

/* For the text banners that need to be centered - DONE for now */
.center-text
{
    padding: 8px;
    text-align:center;
    background-color: white;
}

.center-obj {
    text-align: center;
}

.center-img {
    width: auto;
    height:300px;
}


/* ID STYLING */
#ocean-banner {
    background: white url("images/ocean_waves.jpg") no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

#title-banner {
    padding:30px;
}

#map{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
#map iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
/*#intro1 {*/

#doge-banner {
    background: white url("images/doge.jpg") no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}





/*previous code*/

/*#navbar a {
    float: left;
    display: block;
    color:  #737373;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-family: "Arial Narrow", sans-serif;
}

#navbar a:hover {
    background-color: #bfbfbf;
    color:  #737373 ;
}

#navbar a.active {
  background-color: #bfbfbf;
  color:    #737373 ;
}

.content {
    padding: 16px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}*/
