body, html {
  height:      100%;
  font-weight: 300;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  margin: 0px;
}

a{
  text-decoration: none!important;
}

/*----------- NAV styling - don't touch ---------- */

#navbar {
  background-color: #333;
  top: 0;
  width: 100%;
}

.button {
  background-color:#333;
  text-decoration: none;
  /*color: black;*/
  border:none;
  color: white;
}
/*#navbar a:visited {*/
  /*color: gray;*/
/*}*/

 /*Change background on mouse-over */
/*#navbar a:hover {*/
    /*background: #ddd;*/
    /*color: black;*/
/*}*/

/*#navbar a:active{*/
    /*background:#ddd;*/
/*}*/

/* --------------- MAP STYLING ---------------*/
#map{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;

}
#map iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.wow {
   visibility: hidden;
}

/* --------------------- FONT STYLING ------------------- */

h1 {
    font-size: 5vw;
    font-weight: 50;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    text-shadow: 2px 2px 2px gray;
}

h2 {
    font-size: 4vw;
    font-weight: 50;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

h3 {
    font-size: 3vw;
    font-weight: 50;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

/* ~*~*~*~*~*~*~*~*~*~*~*~*CLASS STYLING~*~*~*~*~*~*~*~*~*~~**~~ */

/* Text banners that should be centered vertically and horizontally*/
.text-in-image {
    /* vertical positioning */
    display: inline-block;
    vertical-align: middle;
    line-height:normal;
    
    /* horizontal positioning */
    /*position:absolute;*/
    /*text-align:center;*/
    /*width: 100%*/
}

.bg {
    -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position:relative;
  height: 100%;
  line-height: 200px;
  text-align:center;
  display: block;

  /* To cover and fill up the entire background*/
  background: white url("images/ocean_waves.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

   /*Grayscale filters */
}


/* ---------------------- TITLE BUTTON STYLING---------------- */

#title-button {
    /*-webkit-transition-duration: 0.4s;*/
    /*transition-duration: 0.4s;*/
    background-color: #44cc00;
    border: none;
    color: white;
    padding: 10px 50px;
    text-align: center;
    display: inline-block;
    font-size:2vw;
    margin: 4px 2px;
    border-radius: 20px 20px;
    text-decoration: none;
}

#title-button:hover {
  background-color: #55ff00;
  color: white;
}

#title-button a:visited{
  color: white;
}


/* ~*~*~*~*~*~*~*~**~*~*~* ID STYLING ~*~*~*~*~*~*~*~*~**~*~*~* */

#title-text {
    color: white;
    /*padding:300px;*/
    font-weight: bold;
}
