<!-- templates/home.html -->
{% extends 'frontpage/base.html' %}

{% block content %}
		<!-- Image banner -->
		<div class="bg">
			<!-- Title Banner -->
				<div class="wow pulse" id="title-text" class="text-in-image">
					<span class='text-in-image'>
						<h1> ナミへようこそ</h1>
						<br>
						<h2>新たなLGBTの大学生向けの連絡し合う方法が登場
						</h2>
					</span>
				</div>
				<div>
					<a href="/signup/"><button id="title-button">
						さあ、始まりましょう
					</button></a>
				</div>
		</div>
		<!-- Map -->
		<div id="map" class="center-obj">
			<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1KiJBmLoUqAtjcvxLafae7wEt3HwbUbPQ" width="800" height="500">
			</iframe>
		</div>

		<!-- Text intro #1 -->
		<div class="wow pulse" id="intro1" class="center-text">.
			<h2>一人だけじゃない。他のLGBTの大学生と話ししよう。
			</h2>
		</div>
{% endblock content %}